{% extends "base.html" %}

{% block title %}Flasky - Confirm your account{% endblock %}

{% block page_content %}
<div class="jumbotron" style="padding: 0px;">
    <div class="container course-intro">
        <div class="col-md-8">
            <h1>{{ course.title }}</h1>
            <p>{{ course.abstract }}</p>
            <ul style="padding-left: 0px" id="course-sub-info">
                <li>
                    <h3 class="meta-value">{{ course.mode }}</h3>
                    <p>教学模式</p>
                </li>
                <li>
                    <h3 class="meta-value">{{ course.students.count() }}</h3>
                    <p>学习人数</p>
                </li>
                <li>
                    <h3 class="meta-value">¥{{ course.price }}</h3>
                    <p>价格</p>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="addthis_inline_share_toolbox pull-right"></div>
        </div>
    </div>
</div>

<div class="col-md-9" style="padding-left: 0px;">
<div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="javascript:void(0)">课程介绍</a></li>
        <li><a href="javascript:void(0)">课程资料</a></li>
        <li><a href="javascript:void(0)">我要提问</a></li>
    </ul>
    <div class="notice-content">
        <div class="module">
            {{ course.introduction|safe }}
        </div>
        <div class="module">
            <h1>TODO</h1>
        </div>
        <div class="module">
            <h1>TODO</h1>
        </div>
    </div>
</div>
</div>

<div class="col-md-3">
<button class="btn btn-primary class-btn">加入学习</button>
{% if current_user == course.teacher %}
<a class="btn btn-danger class-btn" href="{{ url_for('course.editcourse', id=course.id) }}">编辑课程</a>
{% endif %}
<div class="teacher">
    <div>
        <h4>老师</h4><hr>
        <h4>
        <a href="{{ url_for('main.user', username=course.teacher.username) }}">
            <img id="teacher-img" class="img-rounded" src="{% if course.teacher.avatar_url %}{{ course.teacher.avatar_url }}{% else %}{{ course.teacher.gravatar() }}{% endif %}">
            {{ course.teacher.name }}</a>
        </h4>
        <p>{{ course.teacher.about_me }}</p>
    </div>
</div>
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-575e4828bfd1c105"></script>
{% endblock %}
