{% extends "base.html" %}

{% block title %}Flasky - Confirm your account{% endblock %}

{% block bigger_page_content %}
<div class="jumbotron" style="padding: 0px;">
    <div class="container course-intro">
        <div class="col-md-8">
            <h1>这里写课程名字</h1>
            <p>这里写个课程的介绍</p>
            <ul style="padding-left: 0px" id="course-sub-info">
                <li>
                    <h3 class="meta-value">直播</h3>
                    <p>教学模式</p>
                </li>
                <li>
                    <h3 class="meta-value">558</h3>
                    <p>学习人数</p>
                </li>
                <li>
                    <h3 class="meta-value">免费<del>￥0.0</del></h3>
                    <p>价格</p>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="course-share">
            <div class="share">分享
                <i class="iconfont weixin-icon"></i>
                <i class="iconfont weibo-icon"></i>
            </div>
            <div class="collect">
                <i class="iconfont"></i>
                <i class="word">收藏</i>
                <i class="collect-value">12</i>
            </div>
        </div>
        </div>
    </div>
</div>

<div class="container">
<div class="col-md-8">
<div>
    <div class="notice">
        <!-- 上面的标题栏 -->
        <div class="notice-title">
            <ul>
                <li class="title-item select"><a href="#">公告</a></li>
                <li class="title-item"><a href="#">规则</a></li>
                <li class="title-item"><a href="#">论坛</a></li>
                <li class="title-item"><a href="#">安全</a></li>
                <li class="title-item"><a href="#">公益</a></li>
            </ul>
        </div>

        <!-- 下面的内容部分 -->
        <div class="notice-content">
            <!-- 第一个内容模块 -->
            <div class="module">
                <ul>
                    <li><a href="#">张勇：要玩快乐足球</a></li>
                    <li><a href="#">阿里2000万驰援灾区！</a></li>
                    <li><a href="#">旅游宝让你边玩边赚钱</a></li>
                    <li><a href="#">多行跟进阿里信用贷款</a></li>
                </ul>
            </div>
            <div class="module">
                <ul>
                    <li><span>[<a href="#">通知</a>]</span><a href="#">"滥发"即将换新</a></li>
                    <li><span>[<a href="#">通知</a>]</span><a href="#">比特币严管啦！</a></li>
                    <li><span>[<a href="#">通知</a>]</span><a href="#">禁发商品名录!</a></li>
                    <li><span>[<a href="#">通知</a>]</span><a href="#">商品属性限制</a></li>
                </ul>
            </div>
            <div class="module">
                <ul>
                    <li><span>[<a href="#">聚焦</a>]</span><a href="#">金牌卖家再启航</a></li>
                    <li><span>[<a href="#">通知</a>]</span><a href="#">橱窗规则升级啦</a></li>
                    <li><span>[<a href="#">话题</a>]</span><a href="#">又爱又恨优惠劵</a></li>
                    <li><span>[<a href="#">工具</a>]</span><a href="#">购后送店铺红</a></li>
                </ul>
            </div>
            <div class="module">
                <ul>
                    <li><a href="#">个人重要信息要管牢</a></li>
                    <li><a href="#">卖家防范红包欺诈提醒！</a></li>
                    <li><a href="#">更换收货地址的陷阱</a></li>
                    <li><a href="#">注意骗子的技术升级了</a></li>
                </ul>
            </div>
            <div class="module">
                <ul>
                    <li><a href="#">走进无声课堂</a></li>
                    <li><a href="#">淘宝大众评审赢公益金！</a></li>
                    <li><a href="#">爱心品牌联合征集</a></li>
                    <li><a href="#">名公益机构淘宝开店攻略</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

<div class="col-md-4">

</div>
</div>
{% endblock %}
