{% extends "base.html" %}
{% import "course/_coursecomment.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}用芯学 - {{ course.title }}{% endblock %}

{% block page_content %}
<div class="jumbotron course" style="padding: 0px;">
    <div class="container course-intro">
        <div class="col-md-8">
            <h1><small>{{ course.title }}</small></h1>
            <p>{{ course.abstract }}</p>
            <ul style="padding-left: 0px" id="course-sub-info">
                <li>
                    <h3 class="meta-value">{{ course.mode }}</h3>
                    <p><small>教学模式</small></p>
                </li>
                <li>
                    <h3 class="meta-value">{{ course.students.count() }}</h3>
                    <p><small>学习人数</small></p>
                </li>
                <li>
                    <h3 class="meta-value">¥{{ course.price }}</h3>
                    <p><small>价格</small></p>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <div class="addthis_inline_share_toolbox pull-right"></div>
        </div>
    </div>
</div>

<div class="col-md-9" style="padding-left: 0px;">
<ul id="myTab" class="nav nav-tabs">
    {% if course in current_user.studentscourses %}
	<li class="active"><a href="#intro2" data-toggle="tab">课程资料</a></li>
    {% endif %}
    <li {% if course not in current_user.studentscourses %}class="active"{% endif %}><a href="#intro" data-toggle="tab">课程介绍</a></li>
	<li><a href="#question" data-toggle="tab">我要提问</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    {% if course in current_user.studentscourses %}
	<div class="tab-pane fade in active" id="intro2">
		{{ course.introduction2|safe }}
    </div>
    {% endif %}
	<div class="tab-pane fade in {% if course not in current_user.studentscourses %}active{% endif %}" id="intro">
		{{ course.introduction|safe }}
	</div>
	<div class="tab-pane fade in" id="question">
        <form method="post" class="form" role="form">
            {{ form.csrf_token }}
            <div class="form-group" style="display: none">
                <label class="control-label" for="{{ form.parent_id.name }}">{{ form.parent_id.label }}</label>
                {{ form.parent_id(class="form-control",id="parent_id",value=0) }}
            </div>
            <div class="form-group {% if form.body.errors %} has-error{% endif %}">
                <label class="control-label" for="{{ form.body.name }}">{{ form.body.label }}</label>
                {{ form.body(class="form-control",placeholder="我要提问") }}
                {%- if form.body.errors %}
                  {%- for error in form.body.errors %}
                    <p class="help-block">{{error}}</p>
                  {%- endfor %}
                {% endif %}
            </div>
            <input class="btn btn-default" id="submit" name="submit" type="submit" value="提交">
        </form>
        {{ macros.comment_macro(coursecomments, form, moment) }}
	</div>
</div>
</div>

<div class="col-md-3">
{% if course not in current_user.studentscourses %}
<a class="btn btn-primary class-btn" href="{{ url_for('course.joinincourse', id=course.id) }}">加入学习</a>
{% endif %}
{% if current_user in course.teachers or current_user.is_administrator() %}
<a class="btn btn-danger class-btn" href="{{ url_for('course.editcourse', id=course.id) }}">编辑课程</a>
<a class="btn btn-danger class-btn" href="{{ url_for('course.removecourse', id=course.id) }}">删除课程</a>
{% endif %}
<div class="teacher">
    <h4>老师</h4><hr>
    {% for teacher in course.teachers %}
    <div>
        <h4 class="col-md-offset-2">
        <a href="{{ url_for('main.user', username=teacher.username) }}">
            <img id="teacher-img" class="img-rounded" src="{% if teacher.avatar_url %}{{ teacher.avatar_url }}{% else %}{{ teacher.gravatar() }}{% endif %}">
            {{ teacher.name }}</a>
        </h4>
        <p>{{ teacher.about_me }}</p>
    </div>
    {% endfor %}
</div>
</div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-575e4828bfd1c105"></script>
<script>

$(document).ready(function() {
    if(location.hash) {
        $('a[href=' + location.hash + ']').tab('show');
    }
    $(document.body).on("click", "a[data-toggle]", function(event) {
        location.hash = this.getAttribute("href");
    });
});
$(window).on('popstate', function() {
    var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
    $('a[href=' + anchor + ']').tab('show');
});
</script>
{% endblock %}
