{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}用芯学 - 考研{% endblock %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block page_content %}
<div class="jumbotron school" style="padding: 0px; background-image: url({{ school.img_url }}); min-height: 160px">
</div>

<div>

<ul id="myTab" class="nav nav-tabs">
	<li class="active"><a href="#subject" data-toggle="tab">考试大纲</a></li>
	<li><a href="#download" data-toggle="tab">课程资料</a></li>
	<li><a href="#courses" data-toggle="tab">加入学习</a></li>
    {% if current_user.is_administrator() %}
	<li><a href="#edit-admin" data-toggle="tab">编辑</a></li>
    {% endif %}
</ul>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="subject">
        {{ school.introduction | safe}}
	</div>
	<div class="tab-pane fade" id="download">
		{{ school.introduction2 | safe}}
	</div>
	<div class="tab-pane fade" id="courses">
    <div class="courses">
        {% for course in school.courses %}
            <div class="user-course">
                <div class="user-course-pic">
                <a href="{{ url_for('course.classes', id=course.id) }}">
                    <img id="course-img" src="{% if course.img_url %}{{ course.img_url }}{% else %}{{ url_for('static', filename='img/coursedefault.png') }}{% endif %}" alt="" width="100%" height="100%">
                </a>
                </div>
                <div class="user-course-content">
                    <h4><a href="{{ url_for('course.classes', id=course.id) }}">{{ course.title }}</a></h4>
                    <p>{{ course.abstract }}</p>
                    <div class="user-course-footer">
                        <span class="label label-primary">￥{{ course.price }}</span>
                        <span class="label label-primary"><span class="glyphicon glyphicon-user "></span>  {{ course.students.count() }}</span>
                        <a href="{{ url_for('course.classes', id=course.id) }}"><span class="label label-danger">查看详情</span></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
	</div>
    {% if current_user.is_administrator() %}
	<div class="tab-pane fade" id="edit-admin">
        {{ wtf.quick_form(form, enctype="multipart/form-data")}}
    </div>
    {% endif %}
</div>


{% endblock %}