{% extends "base.html" %}
{% import "main/_macros.html" as macros %}

{% block title %}用芯学 - 考研{% endblock %}

{% block page_content %}
<div class="col-md-9">
{% for subject in subjects %}
    <article class="article">
        <!--老师的信息-->
        <h3>
{#        <a href="{{ url_for('main.user', username=teacher.username) }}">#}
{#            {{ subject.subjectname }}</a>#}
        {{ subject.subjectname }}
        </h3>
        {% if current_user.is_administrator() %}
        <div class="post-footer">
        <a href="{{ url_for('.editsubject', id=subject.id) }}">
            <span class="label label-danger">编辑 [Admin]</span>
        </a>
        <a href="{{ url_for('.removesubject', id=subject.id) }}">
            <span class="label label-primary">删除</span>
        </a>
        </div>
        {% endif %}
        <div id="wrap{{ subject.id }}" class="wrap">{{ subject.about_subject | safe }}</div>
        <div id="read-more{{ subject.id }}" class="read-more"></div>


        <!--下面是课程-->
        <div class="row">
            {% for course in subject.course %}
            <div class="teacher-course col-md-3">
                <div class="pic">
                    <a href="{{ url_for('course.classes', id=course.id) }}">
                        <img id="course-img" src="{% if course.img_url %}{{ course.img_url }}{% else %}{{ url_for('static', filename='img/coursedefault.png') }}{% endif %}" alt="" width="100%" height="100%">
                    </a>
                </div>
                <div>
                    <p><a href="{{ url_for('course.classes', id=1) }}">{{ course.title }}</a></p>
                    <div>
                        <span>￥{{ course.price }}</span>
                        <span class="pull-right"><span class="glyphicon glyphicon-user "></span>  {{ course.students.count() }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </article>
{% endfor %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
</div>
<div class="col-md-3">

    <article class="article">
        <h5><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>写点提示啊什么的</h5>

        <ul>
            <li class="presentation"><a href="#" ><p>这里写点啥<span class="badge text-right" style="float:right">10</span></p></a></li>
        </ul>
    </article>

</div>

<style>
.wrap{position: relative;overflow: hidden;}
.read-more a{padding-right: 22px;background: url() no-repeat 100% 50%;font-weight: bold;text-decoration: none;}
.read-more a:hover{color: #000;}
</style>
<script type="text/javascript">
{% for subject in subjects %}
$(function(){
 var slideHeight = 300; // px
 var defHeight = $('#wrap{{ subject.id }}').height();
 if(defHeight >= slideHeight){
  $('#wrap{{ subject.id }}').css('height' , slideHeight + 'px');
  $('#read-more{{ subject.id }}').append('<a href="#">查看更多</a>');
  $('#read-more{{ subject.id }} a').click(function(){
   var curHeight = $('#wrap{{ subject.id }}').height();
   if(curHeight == slideHeight){
    $('#wrap{{ subject.id }}').animate({
     height: defHeight
    }, "normal");
    $('#read-more{{ subject.id }} a').html('隐藏');
   }else{
    $('#wrap{{ subject.id }}').animate({
     height: slideHeight
    }, "normal");
    $('#read-more{{ subject.id }} a').html('查看更多');
   }
   return false;
  });
 }
});
{% endfor %}
</script>


{% endblock %}
