{% extends "base.html" %}

{% block title %}考研{% endblock %}

{% block page_content %}
<div class="col-md-9">
    <article class="article">
        <!--老师的信息-->
        <a href="#">
            <h3><img id="teacher-img" class="img-rounded" src="http://e.kuakao.com/images/teachers.png">   吕建刚</h3>
        </a>
        <!--老师的一些标签-->
        <span class="label label-default" id="teacher-tag">
            <span class="glyphicon glyphicon-leaf"></span> test
        </span>
        <span class="label label-default" id="teacher-tag">
            <span class="glyphicon glyphicon-leaf"></span> test
        </span>
        <span class="label label-default" id="teacher-tag">
            <span class="glyphicon glyphicon-leaf"></span> test
        </span>
        <!--老师的介绍-->
        <p>吕建刚：管理类联考资深专家，数学、逻辑、写作全能名师。独创"老吕逻辑"，颠覆传统逻辑学习方法，将复杂术语口诀化、解题技巧公式化，方法简洁粗暴有效。独创老吕数学"母题学习法"，从题源的角度授课，重点突破120类题型的变化和解题技巧。提出"老吕写作"学习法，突出写作技巧的可用性和公式化。连续四年押中管理类联考数学逻辑30余<a>   View details »</a></p>
        <!--下面是课程-->
        <div class="row">
            <div class="teacher-course col-md-3">
                <div class="pic">
                    <a href="{{ url_for('course.classes', id=1) }}" target="_blank">
                        <img id="course-img" src="http://wx.doc.kuakao.com/course/18113/20170914/4f355edf-a2f2-4eca-8ea9-d46eb4cec7f2.png" alt="" width="100%" height="100%">
                    </a>
                </div>
                <div>
                    <p><a href="{{ url_for('course.classes', id=1) }}" target="_blank" class="lh36">MBA笔试逆袭夺分班</a></p>
                    <div>
                        <span>￥9800</span>
                        <span class="pull-right"><span class="glyphicon glyphicon-user "></span>  360</span>
                    </div>
                </div>
            </div>
            <div class="teacher-course col-md-3">
                <div class="pic">
                    <a href="{{ url_for('course.classes', id=1) }}" target="_blank">
                        <img id="course-img" src="http://wx.doc.kuakao.com/course/18113/20170914/4f355edf-a2f2-4eca-8ea9-d46eb4cec7f2.png" alt="" width="100%" height="100%">
                    </a>
                </div>
                <div>
                    <p><a href="{{ url_for('course.classes', id=1) }}" target="_blank" class="lh36">MBA笔试逆袭夺分班</a></p>
                    <div>
                        <span>￥9800</span>
                        <span class="pull-right"><span class="glyphicon glyphicon-user "></span>  360</span>
                    </div>
                </div>
            </div>
            <div class="teacher-course col-md-3">
                <div class="pic">
                    <a href="{{ url_for('course.classes', id=1) }}" target="_blank">
                        <img id="course-img" src="http://wx.doc.kuakao.com/course/18113/20170914/4f355edf-a2f2-4eca-8ea9-d46eb4cec7f2.png" alt="" width="100%" height="100%">
                    </a>
                </div>
                <div>
                    <p><a href="{{ url_for('course.classes', id=1) }}" target="_blank" class="lh36">MBA笔试逆袭夺分班</a></p>
                    <div>
                        <span>￥9800</span>
                        <span class="pull-right"><span class="glyphicon glyphicon-user "></span>  360</span>
                    </div>
                </div>
            </div>
        </div>

    </article>
    <article class="article the-font">
        <a href="#">
            <h3 style="color:#34495E"><img id="teacher-img" src="http://e.kuakao.com/images/teachers.png">   吕建刚

            </h3>
        </a>
        <!--<p><a href="#" style="float:right"><button class="btn  btn-primary btn-wide text-right"><span class="glyphicon glyphicon-fireglyphicon " aria-hidden="true"></span>了解更多</button></a></p>-->

        <p>
            <span class="label label-default" id="teacher-tag">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> test
            </span>
            <span class="label label-default" id="teacher-tag">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> test
            </span>
            <span class="label label-default" id="teacher-tag">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> test
            </span>
        </p>
        <p>吕建刚：管理类联考资深专家，数学、逻辑、写作全能名师。独创"老吕逻辑"，颠覆传统逻辑学习方法，将复杂术语口诀化、解题技巧公式化，方法简洁粗暴有效。独创老吕数学"母题学习法"，从题源的角度授课，重点突破120类题型的变化和解题技巧。提出"老吕写作"学习法，突出写作技巧的可用性和公式化。连续四年押中管理类联考数学逻辑30余<a>   View details »</a></p>
        <div class="teacher-course col-md-3">
            <div class="pic-box">
                <div class="pic">
                    <a href="{{ url_for('course.classes', id=1) }}" target="_blank">
                        <img id="course-img" src="http://wx.doc.kuakao.com/course/18113/20170914/4f355edf-a2f2-4eca-8ea9-d46eb4cec7f2.png" alt="" width="100%" height="100%">
                    </a>
                </div>
            </div>
            <div class="word">
                <p><a href="{{ url_for('course.classes', id=1) }}" target="_blank" class="lh36">MBA笔试逆袭夺分班</a></p>
                <div>
                    <span class="fl money">￥9800</span>
                    <span class="pull-right"><span class="glyphicon glyphicon-user "></span>  360</span>
                </div>
            </div>
        </div>
        <div class="teacher-course col-md-3">
            <div class="pic-box">
                <div class="pic">
                    <a href="/sysConfigItem/selectDetail/10862" target="_blank">
                        <img id="course-img" src="http://wx.doc.kuakao.com/course/18113/20170914/4f355edf-a2f2-4eca-8ea9-d46eb4cec7f2.png" alt="" width="100%" height="100%">
                    </a>
                </div>
            </div>
            <div class="word">
                <p><a href="/sysConfigItem/selectDetail/10862" target="_blank" class="lh36">MBA笔试逆袭夺分班</a></p>
                <div>
                    <span class="fl money">￥9800</span>
                    <span class="pull-right"><span class="glyphicon glyphicon-user "></span>  360</span>
                </div>
            </div>
        </div>
        <div class="teacher-course col-md-3">
            <div class="pic-box">
                <div class="pic">
                    <a href="/sysConfigItem/selectDetail/10862" target="_blank">
                        <img id="course-img" src="http://wx.doc.kuakao.com/course/18113/20170914/4f355edf-a2f2-4eca-8ea9-d46eb4cec7f2.png" alt="" width="100%" height="100%">
                    </a>
                </div>
            </div>
            <div class="word">
                <p><a href="/sysConfigItem/selectDetail/10862" target="_blank" class="lh36">MBA笔试逆袭夺分班</a></p>
                <div>
                    <span class="fl money">￥9800</span>
                    <span class="pull-right"><span class="glyphicon glyphicon-user "></span>  360</span>
                </div>
            </div>
        </div>
    </article>
</div>
<div class="col-md-3">

    <article class="article">
        <h5><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>写点提示啊什么的</h5>

        <ul>
            <li class="presentation"><a href="#" ><p>这里写点啥<span class="badge text-right" style="float:right">10</span></p></a></li>
        </ul>
    </article>

</div>

{% endblock %}
