{% extends "base.html" %}

{% block title %}Flasky - Confirm your account{% endblock %}

{% block page_content %}
<div class="page-header">
    <article class="article the-font">
        <a href="#"><h3 style="color:#34495E">吕建刚<img id="teacher-img" src="http://e.kuakao.com/images/teachers.png"></h3></a>
        <p>
            <span class="label label-default" id="teacher-tag">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> test
            </span>
            <span class="label label-default" id="teacher-tag">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> test
            </span>
            <span class="label label-default" id="teacher-tag">
                <span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> test
            </span>
        </p>
        <p>吕建刚：管理类联考资深专家，数学、逻辑、写作全能名师。独创"老吕逻辑"，颠覆传统逻辑学习方法，将复杂术语口诀化、解题技巧公式化，方法简洁粗暴有效。独创老吕数学"母题学习法"，从题源的角度授课，重点突破120类题型的变化和解题技巧。提出"老吕写作"学习法，突出写作技巧的可用性和公式化。连续四年押中管理类联考数学逻辑30余</p>

        <div class="col-md-12">
            <div class="col-md-4 text text-box border">
                <div class="pic-box">
                    <div class="pic">
                        <a href="/sysConfigItem/selectDetail/10862" target="_blank">
                            <img id="course-img" src="http://wx.doc.kuakao.com/course/18113/20170914/4f355edf-a2f2-4eca-8ea9-d46eb4cec7f2.png" alt="" width="100%" height="100%">
                        </a>
                    <div class="opacity" comm="10862" style="height: 0px; overflow: hidden;">
                    <h1>MBA笔试逆袭夺分班</h1>
                </div>
            </div>
        </div>
        <div class="word"><p><a href="/sysConfigItem/selectDetail/10862" target="_blank" class="lh36">MBA笔试逆袭夺分班</a></p><p>直播+录播+面授</p><div><span class="fl money">￥9800</span><span class="fr"><span><i class="iconfont fs24 ml20"></i></span><span class="ml10">360</span></span></div></div></div>
            <div class="col-md-4 text text-box border"><div class="pic-box"><div class="pic" style="overflow: hidden; height: 142px; width: 258px; margin: 0px;"><a href="/sysConfigItem/selectDetail/10849" target="_blank"><img src="http://wx.doc.kuakao.com/course/18113/20170913/9d6aa554-6825-48b9-ab85-d5d2845cdb64.png" alt="" width="100%" height="100%"></a><div class="opacity" comm="10849" style="height: 0px; overflow: hidden;"><h1>超长的课时，专业的师资，全面的考点，科学的课程，权威的资料，无限制的回放</h1></div></div></div><div class="word"><p><a href="/sysConfigItem/selectDetail/10849" target="_blank" class="lh36">老吕逻辑写作抢分班</a></p><p>直播</p><div><span class="fl money">￥988</span><span class="fr"><span><i class="iconfont fs24 ml20"></i></span><span class="ml10">22</span></span></div></div></div>
            <div class="col-md-4 text text-box border"><div class="pic-box"><div class="pic" style="overflow: hidden; height: 142px; width: 258px; margin: 0px;"><a href="/sysConfigItem/selectDetail/10832" target="_blank"><img src="http://wx.doc.kuakao.com/course/18113/20170912/b56705a4-4d65-4765-a348-91c7b202a982.jpg" alt="" width="100%" height="100%"></a><div class="opacity" comm="10832" style="height: 0px; overflow: hidden;"><h1>你想知道的招简信息数据、你想敲定的预报名院校、你想get的考点得分点 ，全在这里！
后方有我，你只管全力以赴，备战2018！</h1></div></div></div><div class="word"><p><a href="/sysConfigItem/selectDetail/10832" target="_blank" class="lh36">90%的院校必考的30道经济学简答题 </a></p><p>直播</p><div><span class="fl free">免费</span><span class="fr"><span><i class="iconfont fs24 ml20"></i></span><span class="ml10">2810</span></span></div></div></div><div class="cb"></div></div>

        <div style="border-top:1px solid #EBEBEB;padding:10px 5px;margin-top:20px;">
        <p><a href="#" style="float:right"><button class="btn  btn-primary btn-wide text-right"><span class="glyphicon glyphicon-fire
glyphicon " aria-hidden="true"></span>  了解更多</button></a></p>
        </div>
    </article>

</div>
{% endblock %}
