{% extends "base.html" %}
{% import "main/_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reveal.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='reveal.js') }}"></script>
{% endblock %}

{% block title %}用芯学 - 老师管理{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>老师管理</h1>
</div>
{#<div class="col-md-9">#}
<table class="table table-hover">
	<thead>
		<tr>
			<th>用户名</th>
			<th>手机</th>
			<th>申请时间</th>
            <th>申请信息</th>
            <th>操作</th>
		</tr>
	</thead>
	<tbody>
    {% for professor in professors %}
		<tr>
			<td>{{ professor.username }}</td>
			<td>{{ professor.cellphone }}</td>
			<td>{{ professor.teacher_date }}</td>
            <td>{{ professor.apply_message }}</td>
            <td>
                <a href="{{ url_for('course.add_professor', id=professor.id) }}?page={{ pagination.page }}">行</a>
                 | <a href="{{ url_for('course.cancel_professor', id=professor.id) }}?page={{ pagination.page }}">不行</a>
            </td>
		</tr>
    {% endfor %}
	</tbody>
</table>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.professor_manager') }}
</div>
{% endif %}
{#</div>#}

{% endblock %}