{% extends "base.html" %}
{% import "main/_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reveal.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='reveal.js') }}"></script>
{% endblock %}

{% block title %}用芯学 - 管理{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>用户管理</h1>
</div>
{#<div class="col-md-9">#}
<table class="table table-hover">
	<thead>
		<tr>
			<th>用户名</th>
			<th>手机或邮箱</th>
			<th>角色</th>
            <th>操作</th>
		</tr>
	</thead>
	<tbody>
    {% for professor in professors %}
		<tr>
			<td>{{ professor.username }}</td>
			<td>{% if professor.cellphone %}{{ professor.cellphone }}{% else %}{{ professor.email }}{% endif %}</td>
			<td>{{ professor.role.name }}</td>
{#            <td>{{ professor.apply_message }}</td>#}
            <td>
                <a href="{{ url_for('course.add_professor', id=professor.id) }}?page={{ pagination.page }}">变老师</a>
{#                 | <a href="{{ url_for('course.cancel_professor', id=professor.id) }}?page={{ pagination.page }}">不行</a>#}
            </td>
		</tr>
    {% endfor %}
	</tbody>
</table>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.professor_manager') }}
</div>
{% endif %}
{#</div>#}

{% endblock %}