{% extends "base.html" %}
{% import "main/_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reveal.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='reveal.js') }}"></script>
{% endblock %}

{% block title %}用芯学 - 老师管理{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>老师管理</h1>
</div>
{#<div class="col-md-9">#}
<table class="table table-hover">
	<thead>
		<tr>
			<th>用户名</th>
			<th>手机</th>
			<th>申请时间</th>
            <th>申请信息</th>
            <th>操作</th>
		</tr>
	</thead>
	<tbody>
    {% for professor in professors %}
		<tr>
			<td>{{ professor.username }}</td>
			<td>{{ professor.cellphone }}</td>
			<td>{{ professor.teacher_date }}</td>
            <td>{{ professor.apply_message }}</td>
            <td>
                <a href="#" class="big-link" data-reveal-id="myModal{{ professor.username }}">行</a>
                 | <a href="{{ url_for('course.cancel_professor', id=professor.id) }}?page={{ pagination.page }}">不行</a>
            </td>
		</tr>
        <div id="myModal{{ professor.username }}" class="reveal-modal">
{#        {{ wtf.quick_form(approve_form) }}#}
        <form method="post" class="form" role="form">
            {{ form.csrf_token }}
            <div class="form-group {% if form.username.errors %} has-error{% endif %}">
                <label class="control-label" for="{{ form.username.name }}">{{ form.username.label }}</label>
                {{ form.username(class="form-control",placeholder="用户名",value=professor.username) }}
                {%- if form.username.errors %}
                  {%- for error in form.username.errors %}
                    <p class="help-block">{{error}}</p>
                  {%- endfor %}
                {% endif %}
            </div>
            <div class="form-group {% if form.school.errors %} has-error{% endif %}">
                <label class="control-label" for="{{ form.school.name }}">{{ form.school.label }}</label>
                {{ form.school(class="form-control",placeholder="用户名",value=professor.collegename) }}
                {%- if form.school.errors %}
                  {%- for error in form.school.errors %}
                    <p class="help-block">{{error}}</p>
                  {%- endfor %}
                {% endif %}
            </div>
            <div class="form-group {% if form.subject.errors %} has-error{% endif %}">
                <label class="control-label" for="{{ form.subject.name }}">{{ form.subject.label }}</label>
                {{ form.subject(class="form-control",placeholder="用户名") }}
                {%- if form.subject.errors %}
                  {%- for error in form.subject.errors %}
                    <p class="help-block">{{error}}</p>
                  {%- endfor %}
                {% endif %}
            </div>
            <input class="btn btn-default" id="submit" name="submit" type="submit" value="提交">
        </form>
        <a class="close-reveal-modal">&times;</a>
        </div>
    {% endfor %}
	</tbody>
</table>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.professor_manager') }}
</div>
{% endif %}
{#</div>#}

{% endblock %}