
a,
a:focus,
a:hover {
  color: #1B9FC3;
  text-decoration: none;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

html,
body {
  height: 100%;
}

body {
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 700px;
  }
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}




.bottonBigger{
	padding: 10px 0px 20px;
}
#foo{
	padding: 20px 0 0;
	background-color: #333;
}
#spe{
	padding: 18px 0 18px;
	background-color: #FFF;
	color: #2A2A2A;
}
#sec{
	display: block;
}

#sheet{
	padding: 30px 0 30px;
}
#sheet-pink{
	background-color: #CCC2C2;
}
#sheet-grey{
	background-color: #F5F5F5;
}
.bigger{
	padding: 50px 0 30px;
}
.foo-col{
	color: #BFC9D3;
}
.headword{
	color: white;
}
.pas{
	overflow: hidden;;
	margin-bottom: 50px;
	border-radius: 5px;
	background: none repeat scroll 0% 0% #FFF;
	box-shadow: 0px 10px 10px rgba(149, 77, 77, 0.7);
	border: 30px solid #FFF;
      padding-bottom:20px;

}
#passage :after{
	background-color: #606060;
    	bottom: 0;
    	content: "";
    	display: block;
    	left: 250px;
    	position: absolute;
    	top: 0;
    	width: 1px;
}
.area{
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	background-size: cover;
}
.bar{
	width: 30px;
	height: 2px;
	border: medium none;
	background:none repeat scroll 0% 0% #5A2929;
	margin: 10px auto;
}

.data_img{
  display: block;
  height:150px;
  width:200px;
  margin: 0 auto;
}

.data_list_sec{
  background-color:#D7D9DA;
  padding-top:40px;
  padding-bottom:40px;
  font-size:21px
}
.article_container{
  border:1px solid grey;
  padding:30px 60px;
  box-shadow:0 0 10px 2px grey;
  background-color:white;
  border-radius:4px;
}

.col-list{
  padding-bottom: 30px;
}

.logo-title{
      font-size: 50px;
      line-height: 50px;
     letter-spacing: 2px;
      background: #E32D40 none repeat scroll 0% 0%;
      padding: 5px 10px;
     border-radius: 5px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-right:25px;
     padding-left: 25px;
}
.post-show{
  font-family: Georgia,"Times New Roman",serif;
  font-weight: bold;
}
.post-div{
  box-shadow: 5px 5px 20px #B1B0B0;
}
.post-header{
  font-size: 38px;
}
.blog-title:hover{
  color: #E32D40;
}

  .post-div pre{

  padding: 13px;
margin: 0px 0px 15px;
font-size: 13px;
line-height: 1.72222;
color: white;
white-space: pre;
background-color: #383737;
border: 2px solid #FFF;
border-radius: 6px;
font-weight: bold;

  }
  .post-div blockquote{
  padding: 8px 8px 8px 16px;
margin: 0px 0px 30px;
border-left: 3px solid #6C9EE9;
background-color: #EDEDED;
}

.right-alert{
      border-width: 1px 1px 1px 5px;
    border-style: solid;
    border-color: #EEE #EEE #EEE #CE4844;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 10px;
    font-size: 15px;
}

.data-post blockquote{
  padding: 8px 8px 8px 16px;
margin: 0px 0px 30px;
border-left: 3px solid #6C9EE9;
background-color: #EDEDED;
}

  .data-post pre{

  padding: 13px;
margin: 0px 0px 15px;
font-size: 13px;
line-height: 1.72222;
color: white;
white-space: pre;
background-color: #383737;
border: 2px solid #FFF;
border-radius: 6px;
font-weight: bold;

  }

  .data-post:hover{
    box-shadow: 0px 10px 10px #7A7878;
  }

  .about-div{
    height: 340px;
  }

  .about-header{
    padding-top: 140px;

  }
  .about-div h2{
    margin-top: 0px;
  }