<div class="courses">
    {% for course in courses %}
        <div class="user-course">
            <div class="user-course-pic">
                <img id="course-img" src="{% if course.img_url %}{{ course.img_url }}{% else %}{{ url_for('static', filename='img/coursedefault.png') }}{% endif %}" alt="" width="100%" height="100%">
            </div>
            <div class="user-course-content">
                <h4><a href="{{ url_for('course.classes', id=course.id) }}">{{ course.title }}</a></h4>
                <p>{{ course.abstract }}</p>
                <div class="user-course-footer">
                    <span class="label label-primary">￥{{ course.price }}</span>
                    <span class="label label-primary"><span class="glyphicon glyphicon-user "></span>  {{ course.students.count() }}</span>
                    <a href="{{ url_for('course.classes', id=course.id) }}"><span class="label label-danger">查看详情</span></a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
