{% extends "bootstrap-base.html" %}

{% block title %}用芯学{% endblock %}

{% block metas %}
    {{ super() }}
<meta name=”Keywords” Content=”用芯学,考研,微电子″>
<meta name=”Description” Content=”用芯学，提供微电子考研、保研、就业的专业辅导，覆盖高校复旦、电子科技大学、东南、中科院等”>
{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?f1841ec04f9e1378cce792aa0c83cce6";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('course.index') }}">用芯学</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        考研 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('course.college', collegename='chengdian') }}">成电</a></li>
                        <li><a href="{{ url_for('course.college', collegename='fudan') }}">复旦</a></li>
                        <li><a href="{{ url_for('course.college', collegename='dongnan') }}">东南</a></li>
                        <li><a href="{{ url_for('course.college', collegename='zhongkeyuan') }}">中科院</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        保研 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.emptypage') }}">成电</a></li>
                        <li><a href="{{ url_for('main.emptypage') }}">复旦</a></li>
                        <li><a href="{{ url_for('main.emptypage') }}">东南</a></li>
                        <li><a href="{{ url_for('main.emptypage') }}">中科院</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('main.index') }}">讨论区</a></li>
{#                {{ url_for('main.emptypage') }}#}
{#                <li><a href="{{ url_for('main.emptypage') }}">微电子培训</a></li>#}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-xs">
                    <form action="/search" class="navbar-form">
                        <div class="form-group has-feedback">
                            <input id="search" name="q" type="text" class="form-control" placeholder="搜索">
                            <span class="glyphicon glyphicon-search form-control-feedback">
                        </div>
{#                        <button class="btn btn-link"><span class="glyphicon glyphicon-search"></span></button>#}
                    </form>
                </li>
                {% if current_user.can(Permission.ADD_CLASS) %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        管理 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('course.addcourse') }}">添加课程</a></li>
                        {% if current_user.can(Permission.MANAGE_TEACHER) %}
                        <li><a href="{{ url_for('course.professor_manager') }}">用户管理</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}

                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% if current_user.avatar_url %}
                        <img style="height: 18px; width: 18px" src="{{ current_user.avatar_url }}">
                        {% else %}
                        <img src="{{ current_user.gravatar(size=18) }}">
                        {% endif %}
                        账号 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">关于我</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">修改密码</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">登陆</a></li>
                <li><a href="{{ url_for('auth.registersms') }}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container" id="true-container" style="margin-top: 70px;">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block footer %}
<div id="footer" >
    <div class="container">
        <dl style="float: right;">
            <dd><img src="{{ url_for('static', filename='img/wechatQR2.png') }}" class="app-qrcode"></dd>
        </dl>
        <dl class="loose">
            <dd><a href="/about">关于我们</a> | <a href="/contact">联系我们</a> | <a href="/hiring">加入我们</a> | <a href="/faq">帮助中心</a> | <a href="/website">网站相关</a> | <a href="/feedback">意见反馈</a></dd>
            <dd>用芯学(上海)信息技术有限责任公司</dd>
            <dd><a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备17054348号</a></dd>
        </dl>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.3.1/moment-with-langs.min.js"></script>
<script>
function flask_moment_render(elem) {
    $(elem).text(eval('moment("' + $(elem).data('timestamp') + '").' + $(elem).data('format') + ';'));
    $(elem).removeClass('flask-moment');
}
function flask_moment_render_all() {
    $('.flask-moment').each(function() {
        flask_moment_render(this);
        if ($(this).data('refresh')) {
            (function(elem, interval) { setInterval(function() { flask_moment_render(elem) }, interval); })(this, $(this).data('refresh'));
        }
    })
}
$(document).ready(function() {
    flask_moment_render_all();
});

moment.lang("zh-CN");
</script>
{% endblock %}
