{% extends "bootstrap-base.html" %}

{% block title %}用芯学{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='myjs.js') }}"></script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('course.index') }}">用芯学</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        考研 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('course.index') }}">成电</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">复旦</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">东南</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">杭电</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        保研 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('course.index') }}">成电</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">复旦</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">东南</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">杭电</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('auth.logout') }}">出国</a></li>
                <li><a href="{{ url_for('auth.logout') }}">微电子培训</a></li>
                <li><a href="{{ url_for('main.index') }}">论坛</a></li>



            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <form action="/search" class="navbar-form">
                        <div class="form-group">
                            <input name="q" type="text" class="form-control" placeholder="搜索问题或关键字" value="">
                        </div>
                        <button class="btn btn-link"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </li>
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">
                        账号 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main.user', username=current_user.username) }}">关于我</a></li>
                        <li><a href="{{ url_for('auth.change_password') }}">修改密码</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">修改邮箱</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">登陆</a></li>
                <li><a href="{{ url_for('auth.registersms') }}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container" style="margin-top: 70px;">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% block bigger_page_content %}{% endblock %}
<div id="footer" >
    <div class="container">
        <hr>
        <div class="row hidden-xs">
            <dl class="col-sm-6 site-link">
                <dd><a href="/about">关于我们</a> | <a href="/contact">联系我们</a> | <a href="/hiring">加入我们</a> | <a href="/faq">帮助中心</a> | <a href="/website">网站相关</a> | <a href="/feedback">意见反馈</a></dd>
                <dd>
            Copyright © 2011-2017 SegmentFault. 当前呈现版本 17.06.16<br><a href="http://www.miibeian.gov.cn/" rel="nofollow">浙ICP备 15005796号-2</a> &nbsp;
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010602002000" rel="nofollow">浙公网安备 33010602002000号</a><span class="ml5">杭州堆栈科技有限公司版权所有</span></dd>

            </dl>
            <dl class="col-sm-6 site-link">
                <dd><img src="{{ url_for('static', filename='img/wechatQR.jpg') }}" class="app-qrcode"></dd>
            </dl>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
